:root
{
  --posterWidth: 13em;
  --posterHeight: 18em;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  background-color: black;
}

.Logo
{
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.SearchSection
{
  margin-right: 1rem;
}

.Poster-container
{
  margin-top: 5rem;
  display:inline-flex;
  flex-direction: row;
  overflow-x: scroll;
}
.Favourites-container
{
  margin-top: 3rem;
}
::-webkit-scrollbar
{
  display: none;
}
.Poster
{
  position: relative;
  width: var(--posterWidth);
  height: var(--posterHeight);
  margin-top: 1rem;
  margin-left: 0.8rem;
  align-self: normal;
}

.Poster:hover .Favourites
{
  visibility: visible;
}

.PosterImage
{
  position: absolute;
  height: var(--posterHeight);
  width: var(--posterWidth);
}

.Favourites
{
  align-content: center;
  padding-top: 1rem;
  padding-left: 1rem;
  background: rgba(295, 155, 18, 0.6);
  bottom: 0;
  width: calc(var(--posterWidth) - 1rem);
  height: 3em;  
  color: azure;
  position: absolute;
  z-index: 2;
  visibility: hidden;
}

.WrapLike
{
  position: absolute;
  font-size: larger;
}
.LikeImg
{
  position: relative;
  float: left;
}

.Like
{
  position: relative;
  float: left;
}
