:root {
  --movieContainerHeight: 40vh;
  --searchTopMargin: 3vh;
  --favouriteTopMargin: 2vh;
  --cardHeight: 85%;
  --cardWidth: 12%;
  --collapsedHeight: 65vh;
}

body {
  overflow: hidden;
}

a
{
  cursor: context-menu;
}

.PosterImage
{
  height: 100%;
  width: 100%;
  background-color: rgba(57, 46, 74, 0.3);
}

.customNav
{ 
  background: rgba(100,0,0,0.07);
}

.FavTitle
{
  position: relative;
  color:white;
  margin-left: 1em;
  width: fit-content;
  font-size: 4vh;
  z-index: 10;
  padding-right: 2em;
  padding-left: 0.5em;
  border-radius: 0.5em;
  background-color:  rgba(54, 53, 53, 0.30);
}


.App {
  overflow-y: scroll;
  height: 100vh;
  background-color: black;
}

.backgroundImg {
  z-index: 0;
  position: absolute;
  background-color:gray;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position-y: center;
  filter: blur(10px);
  background-blend-mode:darken;
}

.Logo {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.searchContainer
{
  margin-left: 4vw;
  margin-right: 1vw;
}

.searchBar
{
  margin-left: auto;
  margin-top: 1vh;
}

.Poster-container {
  display: flex;
  flex-direction: row;
  min-width: 0%;
  padding-top: 2%;
  overflow-x: scroll;
  overflow-y:visible;
  padding-top: 3vh;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.Poster-border {
  overflow-y: visible;
  flex-shrink: 0;
  animation: appear 500ms;
  transition: transform 0.3s;
}

.Poster {
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Favourites {
  visibility: hidden;
  width: 100%;
  position: absolute;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: rgba(54, 53, 53, 0.90);
  transition: ease 0.5s;
  opacity: 0;
}

.Poster-border:hover {
  transform: scale(1.15);
}

.Poster-border:hover .Favourites {
  visibility: visible;
  opacity: 1;
}

.Poster-border:hover .MovieName {
  visibility: visible;
}

::-webkit-scrollbar {
  display: none;
}

.Like {
  overflow: hidden;
  font-size: small;
  color: azure;
}

.LikeImg {
  position: absolute;
  margin-left: 43.5%;
  margin-top: 2%;
  width: 13%;
}


.MovieName
{
  visibility: hidden;
  position: absolute;
  top: 30px;
  color: white;
  font-size: 2em;
}

.Movie-container {
  overflow: hidden;
  width: 100vw;
  position: relative;
  margin-top: var(--searchTopMargin);
  margin-top: 8vh;
  height: var(--collapsedHeight);
}

.Favourites-container {
  overflow: hidden;
  width: 100vw;
  position: relative;
  top: var(--favouriteTopMargin);
  height: var(--collapsedHeight);
}


@media screen and (orientation: portrait) {
  .Movie-container,.Favourites-container
  {
    height: 35vh;
  }

  .Movie-container
  {
    margin-top: 3vh;
  }

  .Favourites
  {
    top: 89%;
    height: 11%;
    width: 100%;
  }

  .Poster-border
  {
    width: 30%;
    height: 85%;
  }
}

@media screen and (orientation: landscape) {
  .Movie-container,.Favourites-container
  {
    height: 35vh;
  }

  .Movie-container
  {
    margin-top: 3vh;
  }

  .Favourites
  {
    top:85%;
    height: 15%;
    width: 100%;
  }

  .Poster-border
  {
    width: 11%;
    height: 85%;
  }
}